<% @submissions.each do |submission| %>
  <div class="submission_index row">
    <div class="vote_count large-1 columns">
      <%= link_to "", submission_upvote_path(submission), class: "upvote-arrow" %>
      <span class="vote-count"><%= submission.votes %></span>
      <%= link_to "", submission_downvote_path(submission), class: "downvote-arrow" %>
    </div>
    <div class="large-11 columns">
      <%= link_to submission.title, submission.link, class: 'submission_link' %>
    </div>
    <div class="large-11 columns">
      <span class="subtitle">
        submitted by <%= link_to submission.user.username, profile_path(submission.user.username) %> <%= time_ago_in_words submission.created_at %> ago
        <%= link_to submission.comments.count.to_s + " comments", submission %>
      </span>
      
    </div>
    
  </div>
  
<% end %>

<%= link_to 'New Submission', new_submission_path, class: 'button' %>
