<!DOCTYPE html>
<!-- paulirish.com/2008/conditional-stylesheets-vs-css-hacks-answer-neither/ -->
<!--[if lt IE 7 ]> <html class="ie6" lang="en"> <![endif]-->
<!--[if IE 7 ]>    <html class="ie7" lang="en"> <![endif]-->
<!--[if IE 8 ]>    <html class="ie8" lang="en"> <![endif]-->
<!--[if (gte IE 9)|!(IE)]><!--> <html lang="en"> <!--<![endif]-->
  <head>
  	<meta charset="utf-8" />

  	<!-- Uncomment to make IE8 render like IE7 -->
  	<!-- <meta http-equiv="X-UA-Compatible" content="IE=7" /> -->

  	<!-- Set the viewport width to device width for mobile -->
  	<meta name="viewport" content="width=device-width, initial-scale=1.0" />

  	<title><%= content_for?(:title) ? yield(:title) : "Untitled" %></title>

  	<%= stylesheet_link_tag    "application" %>
  	<%= javascript_include_tag "vendor/custom.modernizr" %>
    <%= csrf_meta_tags %>
  </head>

  <body>
    <div class="row">
      <div class="large-12 columns">
        <header id="global-header">
          <a href="/" id="reddit-header" title="">reddit.com</a>
            <ul id="nav-links">
              <% if current_user %>
                <li><%= link_to "sign out", destroy_user_session_path, method: :delete %></li>
              <% else %>
                <li><%= link_to "Sign In", new_user_session_path %></li>
                <li><%= link_to "Sign Up", new_user_registration_path %></li>
              <% end %>
            </ul>
        </header>
      </div>
      
    </div>
    <div class="row">
      <div class="large-12 columns">
        <% if flash[:error] %>
          <%= content_tag :div, :id => "flash_name", :class => "alert-box error" do %>
            <%= flash[:error] %>
            <a class="close">x</a>
          <% end %>
        <% end %>

        <% if flash[:notice] %>
          <%= content_tag :div, :id => "flash_name", :class => "alert-box success" do %>
            <%= flash[:notice] %>
            <a class="close">x</a>
          <% end %>
        <% end %>
      </div><!-- //.twelve.columns -->
    </div><!-- //.row -->
    <div class="row" id="container">
      <div class="large-12 columns">
        <%= yield %>
      </div>
    </div>
    

    
    <%= javascript_include_tag "application" %>
  </body>
</html>
